body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

/** START HEADER **/

header{
    background: #2f3e46;
}

.header{
    
    margin: auto;
    padding: 0px 0px 25px 0px;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
}

header ul {
    display: flex;
    list-style-type: none;
    gap: 25px;  
}
header #logo{
    display: flex;
    align-self: center;
    gap: 5px;
}
header #logo div{
    width: 30px;
    height: 30px;
    background-color: #797d62;
}

header #logo div:nth-child(1){
    background-color: #b58463;
}

header #logo div:nth-child(2){
    background-color: #ddf7ff;
}

header #logo div:nth-child(3){
    background-color: #b9e46f;
}

header #logo div:nth-child(4){
    background-color: #ffa200;
}


header p{
    align-self: center;
    color: #cad2c5;
    font-size: 24px;
}

header ul li{
    align-self: center;
    color: #ddf7ff;
    font-size: 18px;

}

.header ul li a{
    text-decoration: inherit;
    color: inherit;
}

header ul li:nth-child(2){
    color: #b9e46f;
}

header ul li:nth-child(3){
    color: #ffa200;
}

/** END HEADER **/

/** START ENSEMBLE **/

.ensemble{
    display: flex;
    width: 100%;
    justify-content: space-between;
  
}
/** Start CORPS CENTRAL **/

.centralcorpse{
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/** Start Part1**/

.part1{
    background: #686571;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    
}

.part1 div{
    flex: 1;
    max-width: 500px;
    padding-right: 25px;
    

}

.part1 div p {
    color: #c4cad8;
    font-size: 18px;
    margin: 0;
}

.part1 div p strong{
    color: #f3f4f9;
    font-size: 48px;
    font-weight: bolder;
    line-height: 50px;
}

.part1 div button{
    background-color: #f3f4f9 ;
    border: none;
    color: #686571;
    border-radius: 5px;
    font-weight: 600;
    padding: 5px 15px;
    margin-top: 10px;
}

.part1 img{
    flex: 1;
    max-height: 200px;
    max-width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/** End Part1**/

/** Start Part2 **/

.part2{
    display: flex;
    flex-direction: column;
    background-color: #c4cad8;
    align-items: center;
    padding: 25px 0px 100px;
    flex-wrap: wrap;
}

.part2 h2{
    color: #f3f4f9;

}

.part2pola{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    
}

.first2{
    margin-bottom: 50px;
}

.part2pola div{
    background-color: #f3f4f9;
    display: flex;
    flex-direction: column;
    width: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.part2 div img{
    width: 150px;

}
.part2 div figcaption{
    margin-top: 5px;
    text-align: center;
    color: #686571;
    font-size: 14px;
    padding: 5px;
}

/** End Part2 **/

/** Start Part3 **/

.part3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c4cad8 ;
    padding: 100px 0px;
    margin-top: 5px;
}

.part3 h3{
    flex: 0 0 auto;
    width: 700px;
    font-size: 26px;
    font-weight: lighter;
    color: #686571;
    font-style: italic;
    margin: 0;
    
}

.part3 p{
    flex: 0 0 auto;
    width: 700px;
    text-align: end;
    margin: 0;
    color: #f3f4f9;
    font-weight: 600;

}

/** End Part3 **/

/** Start Part4 **/

.part4{
    display: flex;
    background-color: #686571;
    width: 1000px;
    align-self: center;
    border-radius: 5px;
    margin: 50px 0px;
    justify-content: space-around;
    padding: 25px 0px;

}

.part4 p{
    color: #c4cad8;
    font-size: 16px;
    line-height: 30px;
}

.part4 p strong {
    color: #f3f4f9;
    font-size: 24px;
}

.part4 button{
    background-color: #f3f4f9;
    border: 2px solid #f7ebcf;
    border-radius: 5px;
    color: #686571;
    font-weight: 600;
    margin: 0;
    padding: 5px 20px;
    align-self: center;
}
/** End Part4 **/

/** End CORPS CENTRAL **/

/** End ENSEMBLE **/

/** start footer **/
footer {
    background-color: #2f3e46;
    color: #f7ebcf;
    text-align: center;


}

